.about-us-photo-div {
  width: 60%;
  float: left;
  margin-right: 32px;
}

.about-us-img {
  width: 100%;
}

.about-us-section {
  font-size: 24px;
  text-align: justify;
  line-height: 1.6;
}

.paragraph-one {
  margin-bottom: 24px;
}

.breeding-name {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .about-us-section {
    font-size: 16px;
  }

  .about-us-photo-div {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .about-us-photo-div {
    width: 100%;
    float: none;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .about-us-section {
    padding: 0 24px;
  }
}
