.feed-container {
  width: 100%;
  height: 800px;
  border: 2px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 24px;
  padding: 0 24px;
  background: linear-gradient(to bottom, #3f2e29 0%, #b19f8a 100%);
  color: #e2d6c3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feed-container::-webkit-scrollbar {
  width: 12px;
  background: var(--main-color);
}

.feed-container::-webkit-scrollbar-thumb {
  background: #888; /* Kolor suwaka */
  border-radius: 10px; /* Zaokrąglenie suwaka */
}

.feed-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Kolor suwaka po najechaniu */
}

/* Stylowanie scrollbara dla Firefox */
.feed-container {
  scrollbar-width: thin; /* Możliwe wartości: auto, thin, none */
  scrollbar-color: #888 #f1f1f1; /* (suwa, tło) */
}

.feed-main-title {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 120px;
  font-size: 48px;
  font-weight: bold;
}

.new-feed-container {
  max-width: 100%;
  min-height: 250px;
  position: relative;
  padding: 32px 32px 40px 32px;
  border-bottom: 2px dashed var(--main-lighter-color);
}

.description-photo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 32px;
}

.feed-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #e2d6c3;
  margin-top: 24px;
  margin-bottom: 24px;
}

.feed-date {
  position: absolute;
  top: 12px;
  right: 12px;
  font-style: italic;
  color: #e2d6c3;
}

.feed-content {
  color: #d7cea590;
  font-style: italic;
}

.feed-photo {
  max-width: 50%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 1200px) {
  .feed-container {
    height: 700px;
  }
}

@media only screen and (max-width: 900px) {
  .feed-main-title {
    font-size: 40px;
  }

  .new-feed-container {
    padding: 24px 24px 40px 24px;
  }

  .feed-date {
    font-size: 16px;
  }

  .feed-title {
    font-size: 24px;
  }

  .feed-content {
    font-size: 16px;
  }

  .description-photo-div {
    flex-direction: column;
    margin-top: 24px;
  }

  .feed-photo {
    max-width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .feed-container {
    height: 650px;
  }
}

@media only screen and (max-width: 580px) {
  .feed-container {
    height: 550px;
  }
  .new-feed-container {
    padding: 16px 16px 32px 16px;
  }

  .feed-content {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .feed-container {
    height: 450px;
  }
  .feed-main-title {
    font-size: 32px;
  }

  .new-feed-container {
    padding: 12px 12px 24px 12px;
  }

  .feed-title {
    font-size: 16px;
  }

  .feed-date {
    font-size: 16px;
    top: 8px;
    right: 0;
  }

  .feed-content {
    font-size: 12px;
  }

  .feed-photo {
    max-width: 80%;
  }
}
