.our-dogs-image-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 32px;
}

.dog-main-container {
  width: 100%;
}

.dog-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: box-shadow 0.3s;
  margin-bottom: 24px;
  overflow: hidden;
}

.dog-main-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  /* object-position: center; */
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.dog-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: background-color 0.3s;
}

.dog-container:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dog-container:hover::after {
  background-color: transparent;
}

.dog-title {
  text-align: center;
  margin-top: 4px;
  font-size: 24px;
  font-weight: bold;
  color: var(--title-color);
}

.dog-official-name {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
}

.dog-name {
  text-align: center;
  font-size: 24px;
  margin: 8px 0 80px 0;
}

.h2-retired {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
  font-size: 64px;
  font-weight: bold;
  border-top: 3px dotted var(--main-lighter-color);
}

@media only screen and (max-width: 768px) {
  .h2-retired {
    font-size: 48px;
    margin-bottom: 48px;
    padding-top: 64px;
  }
}

@media only screen and (max-width: 580px) {
  .h2-retired {
    font-size: 32px;
  }

  .dog-title,
  .dog-official-name,
  .dog-name {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .h2-retired {
    font-size: 32px;
  }

  .dog-name {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 380px) {
  .h2-retired {
    font-size: 24px;
    margin-bottom: 32px;
    padding-top: 48px;
  }

  .dog-title,
  .dog-official-name,
  .dog-name {
    padding: 0 12px;
    font-size: 12px;
  }
}
