#container {
  width: 70vw;
  margin: 0 auto;
}

main {
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  #container {
    width: 90vw;
  }
}

@media only screen and (max-width: 400px) {
  #container {
    width: 100vw;
  }
}
