#container {
  width: 70vw;
  margin: 0 auto;
}

main {
  margin-top: 80px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {
  #container {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    width: 90vw;
  }
}

@media only screen and (max-width: 655px) {
  main {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 400px) {
  #container {
    width: 100vw;
  }
}
